[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "~=2.2.2"
python-dotenv = "~=0.13"
flask-wtf = "~=0.14"

[dev-packages]

[requires]
python_version = "3.9"
